{% load static %}
<head>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'loader.css' %}">
    <link rel="shortcut icon" href="#"/>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="{% static 'jquery-3.4.0.min.js' %}"></script>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <meta charset="UTF-8">
    <meta name="author" content="Kaiman">
    <title>CCASS Demo</title>
    <style>
        .textboxclass {
            width: 300px;
        }
        .bgimg-1 {
            background-image: url("{% static "BG.jpg" %}");
            background-position: center 0;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            -moz-background-size: cover;
            -ms-background-size: cover;
        }
        .vertical-center {
            min-height: 100%;
            min-height: 100vh;
            display: flex;
            align-items: center;
        }
        .wrap-iblock > * {
            display: inline-block;
            box-sizing: border-box;
            width: 24.5%;
        }
        input {
            padding:5px 15px; background:#ccc; border:0 none;
            cursor:pointer;
            width: 100%;
            border-radius: 5px;
        }
        table {
            width: auto;
            transform: translate(0px, 0px) translateZ(0px);
            background-color: rgba(255,255,255,0.5);
        }
        thead {
            cursor:pointer;
            background-color: rgba(250,250,250,0.5);
        }
        tbody tr:nth-child(odd){
            background-color: rgba(250,250,250,0.5);
        }
        td {
            border: 5px solid transparent;
        }
    </style>
</head>

<html>
<body>
<div class="loading hidden"></div>
<div class="jumbotron vertical-center bgimg-1">
    <div class="container">
        <h1 align="center" style="background-color: rgba(255,255,255,0.5);"><b> CCASS </b></h1>
        <form action="/q1_result" method="get" id="question1">
            <div class="wrap-iblock">
                <div>
                    <label>Stock Code
                        <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                               name="txtStockCode" type="number" maxlength="5" placeholder="e.g. 00001"
                               value="{{ stock_code1 }}">
                    </label>
                </div>
                <div>
                    <label>Shareholding Date
                        <input name="dateShareholdingDate" value="{{ input_date|date:"Y-m-d" }}" type="date">
                    </label>
                </div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div align="right">
                <button id="Search1" type="submit" class="btn btn-success">Search</button>
            </div>
        </form>
        {% if code == 'Success1' %}
        <div>
            <hr>
            <h4 style="background-color:rgba(255,255,255,0.5);font-weight:bold">Detail of Market
                Intermediaries/Consenting Investor Participants:</h4>
            <table class="sortable">
                <thead>
                <tr>
                    <th>Participant ID</th>
                    <th>Name of CCASS Participant<br>(* for Consenting Investor Participants)</th>
                    <th>Address</th>
                    <th style="text-align:center">Shareholding</th>
                    <th>% of the total number of Issued Shares/ Warrants/ Units</th>
                </tr>
                </thead>
                <tbody>
                {% if d %}
                {% for i in d %}
                <tr>
                    <td style="text-align:center">{{i.ID}}</td>
                    <td style="font-weight:bold;">{{i.Name}}</td>
                    <td>{{i.Address}}</td>
                    <td style="text-align:center">{{i.Shareholding}}</td>
                    <td style="text-align:center">{{i.percent_of_total}}
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <hr>
        <form action="/q2_result" method="get" id="question2">
            <div class="wrap-iblock">
                <div>
                    <label>Stock Code
                        <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                               name="txtStockCode" type="number" maxlength="5" placeholder="e.g. 00001"
                               value="{{ stock_code2 }}">
                    </label>
                </div>
                <div>
                    <label>Start Date
                        <input name="dateStartDate" type="date" value="{{ start_date|date:"Y-m-d" }}">
                    </label>
                </div>
                <div>
                    <label>End Date
                        <input name="dateEndDate" type="date" value="{{ end_date|date:"Y-m-d" }}">
                    </label>
                </div>
                <div>
                    <label>Threshold</label>
                    <input name="threshold" type="number" value="{{ threshold }}"
                           id="threshold" class="" placeholder="e.g. 1.0">
                </div>
            </div>
            <div align="right">
                <button id="Search" type="submit" class="btn btn-success">Search</button>
            </div>
        </form>
        {% if code == 'Success2' %}
        <div>
            <table class="sortable">
                <thead>
                <tr>
                    <th>Participant ID</th>
                    <th>Name of CCASS Participant<br>(* for Consenting Investor Participants)</th>
                    <th style="text-align:center">Shareholding on {{start_date|date:"Y/m/d"}}</th>
                    <th style="text-align:center">Shareholding on {{end_date|date:"Y/m/d"}}</th>
                    <th style="text-align:center">% change of shareholding</th>
                </tr>
                </thead>
                <tbody>
                {% if d %}
                {% for i in d %}
                <tr>
                    <td style="text-align:center">{{i.ID}}</td>
                    <td style="font-weight:bold;">{{i.Name}}</td>
                    <td style="text-align:center">{{i.Shareholding_start}}</>
                    <td style="text-align:center">{{i.Shareholding_end}}</td>
                    <td style="text-align:center">{{i.delta}}%</td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>

</body>

</html>

